
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.nav{
    max-width: 1600px;
    background-color: #1A0B2E;
    display:flex;
}
